@import url('https://fonts.googleapis.com/css2?family=Galada&family=Special+Elite&display=swap');

body,
html,
#root {
  width: 100%;
  height: 100%;
  background-image: url('https://images.unsplash.com/photo-1582738411706-bfc8e691d1c2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.firstPage {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
}

.goBack {
  display: flex;
  align-items: center;
  padding: 10px;
  text-decoration: none;
  color: black;
  font-size: 28px;
}

svg {
  transition: .3s ease-in-out;
}

svg:hover {
  transform: scale(0.8);
}

.goBack span {
  margin: 10px;
}

.saltyPage {
  width: 350px;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-family: 'Special Elite', cursive;
  font-size: 52px;
  border-radius: 50%;
  color: white;
  border: 5px solid rgb(49, 49, 104);
  background: rgb(49, 49, 104);
  transition: 0.5s ease-in-out;
  box-shadow:   0 3px 2px rgba(0, 0, 0, 0.11),
  0 7px 15px rgba(0, 0, 0, 0.123),
  0 13px 10px rgba(0, 0, 0, 0.144),
  0 23px 18px rgba(0, 0, 0, 0.072),
  0 42px 40px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
}

.saltyPage:hover {
  background: url('https://images.unsplash.com/photo-1518779578993-ec3579fee39f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=975&q=80');
  background-size: cover;
  background-position: center;
  filter: brightness(80%);
  box-shadow: none;
}

.sweetPage {
  width: 350px;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-family: 'Galada', cursive;
  font-size: 54px;
  border-radius: 50%;
  color: rgb(255, 233, 253);
  border: 5px solid rgb(184, 104, 157);
  background: rgb(184, 104, 157);
  transition: 0.5s ease-in-out;
  box-shadow:   0 3px 2px rgba(0, 0, 0, 0.11),
  0 7px 15px rgba(0, 0, 0, 0.123),
  0 13px 10px rgba(0, 0, 0, 0.144),
  0 23px 18px rgba(0, 0, 0, 0.072),
  0 42px 40px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
}

.sweetPage:hover {
  background: url('https://images.unsplash.com/photo-1516919549054-e08258825f80?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2100&q=80');
  background-size: cover;
  background-position: center;
  filter: brightness(80%);
  box-shadow: none;
}

.sweetPage:hover p,
.saltyPage:hover p {
  display: none;
}

@media (max-width: 670px) {
  .firstPage {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .saltyPage,
  .sweetPage {
    border: none;
    max-width: 300px;
    max-height: 300px;
    box-shadow: 5px 4px 10px rgba(0,0,0,0.6);
  }

  .sweetPage:hover p,
  .saltyPage:hover p {
    display: block;
  }

  .sweetPage:hover,
  .saltyPage:hover {
    transform: rotate(360deg);
    -webkit-animation: jello-horizontal 0.9s both;
	        animation: jello-horizontal 0.9s both;
  }

  @-webkit-keyframes jello-horizontal {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
              transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
              transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
              transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
              transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
              transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
  }
  @keyframes jello-horizontal {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
              transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
              transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
              transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
              transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
              transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
  }
}

@media (max-width: 450px) {
  .saltyPage,
  .sweetPage {
    border: none;
    max-width: 90%;
    max-height: 200px;
    border-radius: 30px;
    box-shadow: 5px 4px 10px rgba(0,0,0,0.6);
  }

  .saltyPage:hover,
  .sweetPage:hover {
    animation: none;
    transform: none;
  }
}